* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2 {
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
}

/* Estilo da tabela */

table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1.5px solid #000 !important;
}

table, th, td {
    border: 1px solid #000;
    text-align: center;
}

th, td {
    padding: 10px;
}

/* Final do estilo da tabela */