* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    margin: 0;
}

nav {
    background-color: #d4baa1;
    float: left;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

nav>ul {
    /* remove o icone (marcador/bolinha) do li */
    text-align: center;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    /* modifica a exibição da lista para bloco em linha, ou seja, um li na frente do outro */
    display: inline-block;
    padding: 5px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    transition: transform 100ms;
}

nav ul li a:hover {
    background-color: #ebd5c1;
}

h2 {
    margin-left: 15px;
}

#icones {
    background-color: #F2EBDC;
    float: left;
    width: 100%;
    height: 500px;  
}

.icones-coluna {
    width: 50%;
    height: 100%;
    float: left;
    padding: 15px;
}

#imagens {
    background-color: #ebd5c1;
    float: left;
    width: 100%;
    height: auto;
}

#videos {
    background-color: #F2EBDC;
    float: left;
    width: 100%;
    height: 1500px;
}

#mapas {
    background-color: #ebd5c1;
    float: left;
    width: 100%;
    height: 500px;
}

.icones-img {
    width: 150px;
    height: 130px;
    margin: 0 40px 10px 40px;
    padding: 7px;
    border-radius: 4px;
}

.imagem-coluna {
    width: 100%;
    float: left;
}

figure {
    width: 24%;
    float: left;
    transition: transform 100ms;
    margin: 0.5%;
}

figure:hover {
    transform: scale(1.03);
    cursor: pointer;
    filter: brightness(110%) opacity(80%) grayscale(110%);
}

.imagens-galeria {
    width: 100%;
    height: 160px;
}

figcaption {
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.tamanho-video {
    width: 50%;
    height: 360px;
    float: left;
    padding: 10px;
}

.tamanho-video.-download {
    height: auto;
}