* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 95%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 2.5%;
    z-index: 9999;
}

nav ul {
    display: flex;
    /* flex-flow é a forma abreviada de flex-direction(define como os filhos serão exibidos, em linhas ou colunas) e flex-wrap(define se os filhos quebrarão de linha caso não caibam na tela) */
    flex-flow:row wrap;
    /* Altera o alinhamento horizontal dos elementos filho */
    justify-content: left;
    margin-top: 70px;
}

nav ul#esquerda {
    float: left;
}

nav ul#direita {
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 80%;
}

nav ul li a#criar-conta {
    border: 1px solid #fff;
    padding: 9px 29px;
}

nav ul li a:hover {
    background-color: #f2b705;
    transition-duration: 0.8s;
}

/* quando o ícone for do ionic icons, para aumentar ou diminuir seu tamanho ultilize width e height*/
nav ion-icon {
    width: 45px;
    height: 45px;
    color: #000;
    margin-top: -10px;
    margin-left: 20px;
}

nav ion-icon:hover {
    color: #f2b705;
    cursor: pointer;
}

#chamada {
    
}